.orange{
  color:orange;
}
.profile{
width:300px;
text-align: center;
padding:1rem;
background-color: #ebebeb;
border-radius: 20px;
box-shadow: 9px 11px 29px 8px rgba(0,0,0,0.75);
-webkit-box-shadow: 9px 11px 29px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 11px 29px 8px rgba(0,0,0,0.75);
}
.photo{
  width:200px;
  height:200px;
  border-radius: 100%;
}
.tag{
  position: absolute;
  top: 2%;
  left: 31%;
  
}